<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>AppLinkr - Code Statistics</title>

</head>
<body>
    <!-- Navigation bar -->
    <nav>
        <div class="menu-icon" onclick="toggleMenu()">☰</div>
        <h1>AppLinkr</h1>
        <div class="menu">
            <a href="{{ url_for('index') }}">QR Generator</a>
            <a href="{{ url_for('admin') }}">Admin</a>
            <a href="#" onclick="toggleTheme()">Toggle Dark Mode</a> 
        </div>      
    </nav>

    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <h1>QR Code Statistics</h1>

    {% if not session.get('authenticated') %}
        <h2>Login</h2>
        <form method="post" action="{{ url_for('admin') }}">
            <input type="password" name="password" placeholder="Enter Password" required>
            <input type="submit" value="Login">
        </form>
    {% else %}
        <a href="{{ url_for('logout') }}" style="text-decoration: none; color: #007bff;">Logout</a>
        <h2>Statistics</h2>
        {% for code, qr_code_url, records in qr_codes %}
            <div class="card">
                <div class="card-title">{{ code[1] }}</div> <!-- Title -->
                <div class="card-content">
                    <strong>ID:</strong> {{ code[0] }}<br>                    
                    <strong>QR Code:</strong><br>
                    <a href="{{ qr_code_url }}" target="_blank">
                        <img src="{{ qr_code_url }}" alt="QR Code">
                    </a>
                    <div class="url">
                        <strong>Direct Redirect:</strong> <a href="{{ code[2] }}" target="_blank">{{ code[2] }}</a><br>
                        <strong>App Store URL:</strong> <a href="{{ code[3] }}" target="_blank">{{ code[3] }}</a><br>
                        <strong>Play Store URL:</strong> <a href="{{ code[4] }}" target="_blank">{{ code[4] }}</a>
                    </div>
                    <div>
                        <strong>Tracking Info:</strong>
                        <ul>
                            <strong>Scans:</strong> {{ records|length }}<br>
                            {% for record in records %}
                                <li>{{ record[2] }} | Region: {{ record[5] }} | Browser: {{ record[6] }} | OS: {{ record[7] }} | Language: {{ record[8] }} | Referrer: {{ record[9] }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="actions">
                    <button type="button" class="delete-button" onclick="confirmDelete('{{ code[0] }}')">Delete</button>
                </div>
            </div>
        {% endfor %}
        <form action="/download_db" method="get" style="margin-top: 20px;">
            <input type="submit" value="Download Database Backup" class="delete-button">
        </form>
    {% endif %}
    <script>
        function toggleMenu() {
            const menu = document.querySelector('.menu');
            menu.classList.toggle('active');
        }

        function confirmDelete(qrCodeId) {
            if (confirm('Are you sure you want to delete this QR code?')) {
                window.location.href = '/delete/' + qrCodeId;
            }
        }
    </script>



</body>
</html>
