<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>AppLinkr - QR Codes for AppStores</title>
   
</head>
<body>
    <div class="wrapper">
    <!-- Navigation bar -->
    <nav>
        <div class="menu-icon" onclick="toggleMenu()">☰</div>
        <h1>AppLinkr</h1>
        <div class="menu">
            <a href="{{ url_for('index') }}">QR Generator</a>
            <a href="{{ url_for('admin') }}">Admin</a>
        </div>      
    </nav>


    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% if not session.get('authenticated') %}
    <h2>Login</h2>
    <form method="post" action="{{ url_for('index') }}">
        <input type="password" name="password" placeholder="Enter Password" required>
        <input type="submit" value="Login">
    </form>
    {% else %}

    <!-- Tab Container -->
    <div class="tab-container">
        <div class="tab-buttons">
            <button class="active" onclick="showTab('appstore-tab')">AppStore Links</button>
            <button onclick="showTab('standard-qr-tab')">Standard QR</button>
        </div>

        <!-- AppStore Links Form -->
        <div id="appstore-tab" class="tab-content active">
            <form action="/create" method="post">
                <label for="title">Title:</label><br>
                <input type="text" id="title" name="title" required><br><br>

                <label for="app_store_url">App Store URL:</label><br>
                <input type="text" id="app_store_url" name="app_store_url" required><br><br>

                <label for="play_store_url">Play Store URL:</label><br>
                <input type="text" id="play_store_url" name="play_store_url" required><br><br>

                <input type="submit" value="Generate QR Code">
            </form>
        </div>

    <!-- Standard QR Form -->
    <div id="standard-qr-tab" class="tab-content">
        <form action="/create" method="post">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title" required><br><br>

            <label for="content">Redirect to:</label><br>
            <input type="text" id="content" name="content" placeholder="Enter a valid URL" required><br><br>

            <input type="submit" value="Generate QR Code">
        </form>
    </div>

    {% if qr_code_url %}
    <div class="qr-container">
        <h2>Your QR Code:</h2>
        <img src="{{ qr_code_url }}" alt="QR Code">
        <div class="qr-url">
            <span id="qrUrlText">{{ qr_code_url }}</span>
            <button class="copy-button" onclick="copyToClipboard()">Copy to Clipboard</button>
        </div>
    </div>
</div>
    {% endif %}
    {% endif %}
    <script>

        function toggleMenu() {
            const menu = document.querySelector('.menu');
            menu.classList.toggle('active'); 
        }

        function copyToClipboard() {
            const qrUrlText = document.getElementById('qrUrlText');
            const textArea = document.createElement("textarea");
            textArea.value = qrUrlText.innerText;
            document.body.appendChild(textArea);
            textArea.select();
            document.execCommand("copy");
            document.body.removeChild(textArea);
            alert("QR Code URL copied to clipboard!");
        }

        function showTab(tabId) {
            // Hide all tabs
            const tabs = document.querySelectorAll('.tab-content');
            tabs.forEach(tab => tab.classList.remove('active'));

            // Remove active class from all buttons
            const tabButtons = document.querySelectorAll('.tab-buttons button');
            tabButtons.forEach(button => button.classList.remove('active'));

            // Show the selected tab and highlight the button
            document.getElementById(tabId).classList.add('active');
            event.target.classList.add('active');
        }
    </script>


</body>
</html>
